/* Enter your Styles below! */


body { 
	font-family: courier-std, monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	 }

header.desktop {
	height: 500px;
	background-image: url('../images/headerbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

header.mobilehome {
	height: 650px;
	background-image: url('../images/mobileheader.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
	position: relative;
}

header.mobile {
	height: 80px;
}

nav.mobile {
	background-image: url('../images/mobilebrick.jpg');
}

.blank {
	padding-top: 15px;
}

main.about{
	background-color: #fff;
}

h1, h2, h3, h4 {
	font-family: courier-std, monospace;
}

h1 {
	font-size: 48px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 360px;
}

h1.mobile {
	max-width: 450px;
	margin-bottom: 0;
}

h2 {
	font-size: 36px;
	text-align: center;
	padding-top: 25px;
}

h2.about {
	text-align: left;
	margin-left: 30px;
}

h3 {
	font-size: 28px;
	padding-top: 30px;
}

h4 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #606060;
	text-align: center;
	font-size: 16px;
	padding-top: 12px;
	padding-bottom: 6px;
}

ul.desktop {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #a44f44;
}

li.desktop a {
  display: inline-block;
  width: 20%;
  float: left;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 21px;
  color: #fff;
  text-align: center;
  padding: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

nav.mobile {
	background-image: url('../images/mobilebrick.jpg');
}

ul.mobile {
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}

li.mobile a {
  display: inline-block;
  width: 30%;
  font-size: 18px;
  color: #fff;
  padding: 12px;
  background-color: #a44f44;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

li.mobile a:hover {
	color: black;
}

.container {
  position: relative;
  max-width: 400px;
}

.container:hover .overlay {
  opacity: 1;
}

div.title {
	display: none;
	position: relative;
	text-align: center;
}

img.fade:hover + .title {
	display: block;
}

div.about {
	width: 30%;
	column-count: 1;
	margin-left: 50px;
	padding-bottom: 250px;
}

p.about {
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Merriweather', serif;
}

img.gradient {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

div.homeslider {
	background-image: url('../images/homebg.png');
	background-size: cover;
}

div.contact {
	width: 40%;
	background-color: #a44f44;
	color: #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

div.mobilecontact {
	width: 100%;
	background-image: url('../images/paper.jpg');
	background-size: cover;
	color: #000;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	text-align: center;
}

img.slide {
	display: block;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 200px;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

img { width: 100%; }

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
    opacity: 0.2;
    }

a { 
	color: red;
	text-decoration: none;
	 }

a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #fff;
	padding: 20px;
}

footer {
	margin: 6px;
}

@media only screen and (max-width: 768px) {
	header.desktop {
		display: none;
	}
	div.about {
		width: 80%;
	}
	main.desktop {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;
		width: 70%;
	}
	header.mobilehome {
		display: none;
	}
	header.mobile {
		display: none;
	}
	nav.mobile {
		display: none;
	}
	div.about {
		width: 50%;
	}
	main.mobile {
		display: none;
	}
}

@media only screen and (max-width: 785px) {
	div.about{
		column-count: 1;
	}
}

@media only screen and (max-width: 1024px) {
	main.about{
		background-color: #fff;
	}
}

@media only screen and (min-width: 1024px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 50px;
		width: 70%;
	}
	main.about {
		background-image: url('../images/background.png');
		background-size: cover;
	}
}

@media only screen and (min-width: 1200px) {

}

/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/